:root {
  --cor-fundo-rota: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-fundo-rota: #121212;
  }
}

.recipiente-carregamento-rota {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--cor-fundo-rota);
}