* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.btn-primary {
  background-color: #00e0ff;
  color: #000;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #33ebff;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}
