/* Modal escuro */
.fundo-escuro-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.janelinha-modal {
    background: #181818;
    padding: 32px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid #333333;
    color: #ffffff;
}

.botao-fechar {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: #888888;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
}
.botao-fechar:hover {
    color: #ffffff;
}
